/* myStyleSheet.css */
body {
 margin :0;
 background : #736f73 ;
}
.header {
	padding : 100px;
	text-align : center;
	background : #40024d;
	color : black;
}

.header h1{
	font-size : 60px;
}

h1{
	font-size : 20px;
}

h2 {
	text-align : center;
	font-size : 25px;
}

h3{
	text-align : left;
	font-size : 18px;
}

p {
	 overflow : hidden;
	 font-size : 16px;
	 color: black;
	 text-align: left;
}

/* Sets default color of the topnav_bar */
.topnav_bar {
	background-color : #333;
	overflow: hidden;
}

.topnav_bar a {
	float : left;
	display : block;
	color : #f2f2f2;
	text-align : left;
	padding : 10px 20px;
	text-decoration : none;
	font-size : 20px;	
}

.topnav_bar a:hover{
	background-color : #ddd;
	color : black;
}

.topnav_bar a.active {
	background-color : #630862;
	color : white;
}




