/* myStyleSheet.css */
body {		
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
 	margin :0;
	background : #d6d6d6 ;
	width: 100%;
	height: 100%;
}
header{
	width: 100%;
}
.header {	
	display: inline-flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	padding-top: 0%;		
	text-align : center;
	background : #40024d;
	color : black;
}

.header h1 {
	font-size : 40px;
	justify-content: center;
	padding-top: 6.5%;
	padding-bottom: 6.5%;
}

h1 {
	font-size : 20px;
}

h2 {
	text-align : center;
	font-size : 25px;
}

h3 {
	text-align : left;
	font-size : 18px;
}

p {
	 overflow : hidden;
	 font-size : 16px;
	 color: black;
	 text-align: left;
	 font-weight : bold;
}

/* Sets default color of the topnav_bar */
nav{	
	width: 100%;	
	
}
.topnav_bar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color : #333;
	overflow: hidden;
}

.topnav_bar a {
	float : left;
	display : block;
	color : #f2f2f2;
	text-align : left;
	padding : 1% 3%;
	text-decoration : none;
	font-size : 20px;	
}

.topnav_bar a:hover{
	background-color : #ddd;
	color : black;
}

.topnav_bar a.active {
	background-color : #630862;
	color : white;
}


.sidenav_bar_1 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;	
	justify-content: row;
	height : 100%;
	width : 50%;	
	z-index : 1;
	top : 43.3%;	
	left : 0%;
	background-color : #111;
	overflow-x : hidden;
}
.sidenav_bar_1 a:hover {
	background-color : rgb(68, 67, 67);
}
.sidenav_bar_1 a {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding : 0.5% 1% 0.5% 1.2%;
	text-decoration : none;
	font-size : 25px;
	color : #818181;
	justify-content: center;
}

.sidenav_bar_1 a:hover {
	color : #f1f1f1;
}

.sidenav_bar_2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height : 100%;
	width : 50%;	
	z-index : 1;
	top : 43.3%;
	left : 50%;
	background-color : #111;
	overflow-x : hidden;
	padding-top : 0px;
}

.sidenav_bar_2 a:hover {
	background-color : rgb(68, 67, 67);
}
.sidenav_bar_2 a {
	
	padding : 6px 8px 6px 16px;
	text-decoration : none;
	font-size : 25px;
	color : #818181;
	display : block;
}

.sidenav_bar_2 a:hover {
	color : #f1f1f1;
}
.main {
	margin-left : 207px;
	padding : 0px 10px;
}

footer {
	bottom : 0%;
	width : 100%;
	height : 1.5%;
	background-color : #41024dc5;	
	padding-top : 0.5%;
	padding-bottom : 0.5%;
}

.footer_center {
	overflow : hidden;
	font-size : 16px;
	color: black;
	font-weight : bold;
	text-align : center;
}
.HomeButton {
	width : 20%;
	margin-top : 5%;
	margin-left : 50%;
	font-weight : bold;
	color : black;
	font-size : 20px;
	background : #40024d
}

@media (min-width:300px) and (max-width:600px){
	nav {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		justify-content: left;
		text-align: center;
	}

	
	.topnav_bar {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: left;
		background-color : #333;
		overflow: hidden;
	}

	.topnav_bar a {		
		display : flex;		
		color : #f2f2f2;;
		text-align : center;
		padding-top: 5% ;
		padding-bottom: 5%;		
		width: 19%;
		text-decoration : none;
		font-size : 20px;	
		overflow: hidden;
	}

	.topnav_bar a:hover{
		background-color : #ddd;
		color : black;
	}
	
	.topnav_bar a.active {
		background-color : #630862;
		color : white;
	}
	.sidenav_bar_1 {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;	
		justify-content: left;
		height : 100%;
		width : 50%;	
		z-index : 1;
		top : 43.3%;	
		left : 0%;
		background-color : #111;
		overflow-x : hidden;
	}

	.sidenav_bar_1 a {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding : 0.5% 1% 0.5% 1.2%;
		text-decoration : none;
		font-size : 25px;
		color : #818181;
		
	}

	.sidenav_bar_1 a:hover {
		color : #f1f1f1;
	}
	.sidenav_bar_2 {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;	
		justify-content: left;
		height : 100%;
		width : 50%;	
		z-index : 1;
		top : 43.3%;	
		left : 50%;
		background-color : #111;
		overflow-x : hidden;
	}

	.sidenav_bar_2 a {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding : 0.5% 1% 0.5% 1.2%;
		text-decoration : none;
		font-size : 25px;
		color : #818181;	
	}
	.sidenav_bar_2 a:hover {
		color : #f1f1f1;		
	}
}


